@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Raleway:wght@400;700&display=swap');

*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	--ff-headings: 'Raleway', sans-serif;
	--ff-body: 'Open Sans', sans-serif;

	--dark-blue: hsl(243, 87%, 12%);
	--desaturated-Blue: hsl(238, 22%, 44%);
	--bright-blue: hsl(224, 93%, 58%);
	--moderate-cyan: hsl(170, 45%, 43%);
	--grayish-blue: hsl(240, 75%, 98%);
	--gray: hsl(0, 0%, 75%);
}

a {
	text-decoration: none;
	color: inherit;
	font-family: var(--ff-headings);
}

ul,
li {
	list-style: none;
}

picture,
img,
figure {
	display: block;
	max-width: 100%;
}

input,
button {
	font-family: var(--ff-headings);
	border-radius: 0.2rem;
	outline: none;
}

form {
	display: flex;
}

input {
	border: 1px solid var(--dark-blue);
	padding: 0.75rem 1.25rem;
}

input::placeholder {
	color: var(--gray);
}

button {
	border: none;
	background-color: var(--bright-blue);
	color: hsl(0, 0%, 100%);
	font-weight: 700;
	padding: 0.75rem 3rem;
}

h1,
h2,
h3 {
	text-align: center;
	font-weight: 700;
	font-family: var(--ff-headings);
}

section, footer {
	padding-block: 3rem;
}

body {
	font-family: var(--ff-body);
	color: var(--dark-blue);
	padding-block-start: calc(2vw + 1rem);
}

/* 
	General classes
*/

.container {
	padding-inline: 2rem;
	margin-inline: auto;
}

.flex-section .container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

@media (min-width: 600px) {
	h1,
	h2,
	h3 {
		text-align: left;
	}

	.container {
		width: calc(90vw + 4rem);
	}
}

@media (min-width: 950px) {
	section, footer {
		padding-block: 5rem;
	}
	.flex-section .container {
		flex-direction: row;
	}

	.flex-section .container > * {
		flex-basis: 50%;
		flex: 1;
	}

	.flex-section .container [class*='img'] {
		order: 1;
	}
}


/* 
	Header 
*/

.header .container {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.logo {
	display: block;
	width: 6rem;
}

.nav {
	font-size: 0.85rem;
	color: var(--dark-blue);
}

.nav__list {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: calc(2vw + 0.25rem);
}

.nav__item {}

.nav__link {}


/* 
	Main
*/
.main {
	margin-block-start: 3rem;
}


/* 
	Hero
*/
.hero {}

.hero .container {
	gap: 3rem;
}

.hero__img {}

.main__header {
	margin-block-end: 1.5rem;
}

.hero__details {
	text-align: center;
	font-size: 0.9rem;
	margin-block-end: 1.5rem;
}

.hero__form {
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

@media (min-width: 600px) {
	.hero__details {
		text-align: left;
	}
	.hero__form {
		align-items: center;
	}
	.hero__form input {
		width: 50%;
	}
}

@media (min-width: 950px) {
	.logo {
		width: 7.5rem;
	}

	.hero .main__header {
		font-size: 2.5rem;
	}

	.hero__details {
		font-size: 1.2rem;
	}

	.hero__form {
		flex-direction: row;
	}
}


/* 
	Middle
*/
.middle {
	background-color: #f8f8fe;
	margin-block-start: 6rem;
	position: relative;
}

.middle .container {
	gap: 6rem;
}

.middle__curve {
	position: absolute;
	top: 0;
	left: 0;
	transform: translateY(-90%);
	width: 100%;
}

.middle__curve img {
	width: 100%;
}

.middle__img {}

.middle__content {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.middle__header {
	font-size: 1rem;
	margin-block-end: 1.5rem;
}

.middle__details {
	font-size: 0.85rem;
	color: var(--desaturated-Blue);
}

.middle__details:not(:last-of-type) {
	margin-bottom: 1rem;
}

.middle__link {
	font-family: var(--ff-body);
	font-size: 0.75rem;
	color: var(--moderate-cyan);
	padding-block: 0.5rem;
	margin-block: 3rem;
	display: flex;
	align-items: center;
	gap: 5px;
	position: relative;
}

.middle__link::after {
	content: '';
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 1px;
	background-color: var(--moderate-cyan);
}

.middle__link img {
	display: inline-block;
}

.testimonial {
	max-width: 350px;
	background-color: #fff;
	padding: 1.5rem 2rem;
	font-size: 0.7rem;
	border-radius: 5px;
}

.testimonial__quotes {
	margin-block-end: 10px;
}

.testimonial__quotation {
	line-height: 2;
	margin-block-end: 1rem;
}

.testimonial__bio {
	display: flex;
	align-items: center;
	gap: 0.5rem;
}

.testimonial__avatar {
	width: 2rem;
	border-radius: 50%;
}

.testimonial__name {
	font-size: 0.85em;
	text-align: left;
}

.testimonial__role {
	font-size: 0.7em;
}

@media (min-width: 600px) {
	.middle {
		margin-block-start: 12rem;
	}
}

@media (min-width: 950px) {
	
	.middle__content {
		align-items: flex-start;
	}
	.middle__header {
		font-size: 2rem;
	}
	.middle__details {
		font-size: 1.2rem;
	}
	.middle__link {
		font-size: 1rem;
	}
	.testimonial {
		font-size: 0.85rem;
	}
}


/* 
	Subscribe
*/

.subscribe {
	background-color: var(--desaturated-Blue);
	color: #fff;
	padding-block: 4rem;
	text-align: center;
}

.subscribe__header {
	font-size: 1rem;
	margin-block-end: 1.25rem;
}

.subscribe__details {
	font-size: 0.85rem;
	margin-block-end: 2rem;
}

.subscribe__form {
	flex-direction: column;
	gap: 0.5rem;
	width: 80%;
	margin-inline: auto;
}

.subscribe__form input {
	border: none;
}

@media (min-width: 950px) {
	.subscribe {
		text-align: start;
	}
	.subscribe .container {
		gap: 15rem;
	}
	.subscribe__header {
		font-size: 1.75rem;
	}
	.subscribe__details {
		font-size: 1rem;
	}
	.subscribe__form {
		align-items: flex-start;
	}
	.subscribe__form input {
		width: 100%;
	}
}


/* 
	Footer
*/

.footer {
	background-color: var(--dark-blue);
	color: white;
}

.footer__logo {
	width: 8rem;
	margin-block-end: 2rem;
}

.footer__links {
	font-size: 0.8rem;
	color: var(--gray);
	display: flex;
	flex-direction: column;
	gap: 2.5rem;
}

.footer__list {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
}

.footer a {
	font-family: var(--ff-body);
}

.contacts {}

.contact__link {
	display: flex;
	align-items: center;
	gap: 1rem;
}

.contact__link img {
	width: 1rem;
}

.social {
	flex-direction: row;
	justify-content: center;
}

.social a {
	padding: 0.25rem;
	border: 1px solid var(--gray);
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
}

@media (min-width: 950px) {
	.footer__links {
		font-size: 1rem;
		flex-direction: row;
		gap: 15vw;
	}
}