@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Raleway:wght@400;700&display=swap');

*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	--ff-headings: 'Raleway', sans-serif;
	--ff-body: 'Open Sans', sans-serif;

	--dark-blue: hsl(243, 87%, 12%);
	--desaturated-Blue: hsl(238, 22%, 44%);
	--bright-blue: hsl(224, 93%, 58%);
	--moderate-cyan: hsl(170, 45%, 43%);
	--grayish-blue: hsl(240, 75%, 98%);
	--gray: hsl(0, 0%, 75%);

}

a {
	text-decoration: none;
	color: inherit;
	font-family: var(--ff-headings);
}

ul,
li {
	list-style: none;
}

picture,
img,
figure {
	display: block;
	max-width: 100%;
}

input,
button {
	font-family: var(--ff-headings);
	padding: 0.75rem 1.25rem;
	border-radius: 0.2rem;
	outline: none;
}

input {
	border: 1px solid var(--dark-blue);
}

input::placeholder {
	color: var(--gray);
}

button {
	border: none;
	background-color: var(--bright-blue);
	color: hsl(0, 0%, 100%);
	font-weight: 700;
}

.container {
	padding-inline: 2rem;
}

h1,
h2,
h3 {
	text-align: center;
	font-weight: 700;
	font-family: var(--ff-headings);
}

section {
	padding-block: 3rem;
}

body {
	font-family: var(--ff-body);
	color: var(--dark-blue);
	padding-block: 2rem;
}

.header .container {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.logo {
	display: block;
	width: 6rem;
}

.nav {
	font-size: 0.85rem;
	color: var(--dark-blue);
}

.nav__list {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 1rem;
}

.nav__item {
}

.nav__link {
}

.main {
	margin-block-start: 3rem;
}

.hero {
}

.hero .container {
	display: flex;
	flex-direction: column;
	gap: 3rem;
}

.hero__img {}

.main__header {
	margin-block-end: 1.5rem;
}

.hero__details {
	text-align: center;
	font-size: 0.9rem;
	margin-block-end: 1.5rem;
}

.hero__form {
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

.middle {
	background-color: #f8f8fe;
	margin-block-start: 6rem;
	position: relative;
}

.middle .container {
	display: flex;
	flex-direction: column;
	gap: 6rem;
}

.middle__curve {
	position: absolute;
	top: 0;
	left: 0;
	transform: translateY(-90%);
}

.middle__image {
}

.middle__content {
	display: flex;
	flex-direction: column;
}

.middle__header {
	font-size: 1rem;
	margin-block-end: 1.5rem;
}

.middle__details {
	font-size: 0.85rem;
	color: var(--desaturated-Blue);
}

.middle__details:not(:last-of-type) {
	margin-bottom: 1rem;
}

.middle__link {
	font-family: var(--ff-body);
	font-size: 0.75rem;
	color: var(--moderate-cyan);
	padding-block: .5rem;
	margin-inline: auto;
	margin-block: 2rem;
	display: flex;
	justify-content: center;
	gap: 5px;
	position: relative;
}

.middle__link::after {
	content: '';
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 1px;
	background-color: var(--moderate-cyan);
}

.testimonial {
	width: 350px;
	margin-inline: auto;
	background-color: #fff;
	padding: 1.5rem 2rem;font-size: 0.7rem;
	border-radius: 5px;
}

.testimonial__quotes {
	margin-block-end: 10px;
}

.testimonial__quotation {
	line-height: 2;
	margin-block-end: 1rem;
}

.testimonial__bio {
	display: flex;
	align-items: center;
	gap: 0.5rem;
}

.testimonial__avatar {
	width: 2rem;
	border-radius: 50%;
}

.testimonial__name {
	font-size: 0.95em;
	text-align: left;
}

.testimonial__role {
	font-size: 0.8em;
}

.subscribe {
}

.subscribe__header {
}

.subscribe__details {
}

.subscribe__form {
}

.footer {
}

.contacts {
}

.contact {
}

.contact__link {
}

.footer__list {
}

.footer__social {
}

.bx {
}

.bxl-facebook {
}

.bxl-twitter {
}

.bxl-instagram {
}
